*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(thumb-1920-679478.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;
}

.logo{
    color: orangered;
    font-size: 40px;
    width: 600px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}

ul li{
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}

ul li a:hover{
    color: orangered;
}

.search-box{
    float: right;
    width: 240px;
    background: whitesmoke;
    height: 30px;
    padding: 8px;
    border-radius: 10px;
    margin-top: 1%;
    margin-right: 2%;
}

.search-box .search-txt{
    width: 190px;
    padding: 0 6px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .6px;
}